body {
    background: linear-gradient(107.56deg, #C2E9FB 0%, #A1C4FD 100%);
}

.container-search {
    margin-top: 100px;
    width: 52%;
    height: 120px;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    padding: 30px auto;
    min-width: 766px;
    
}

.col-sm-4{
    position: relative;
    height: 45px;
    width: 96%;

  }

.btn {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 30%;
}

table {
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tfoot {
    position: relative;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    left: 285px;
}